@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
  font-family: 'Monserrat', sans-serif;
  overflow-x: hidden;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #191c32;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}



.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

.menu .active {
  color: 09c372;
}

.menu a:hover {
  color: #191c32;
  background-color: #09c372;
  transition: ease-in .4s;
}

.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

h1 {
  font-size: 3em;
}

h1 span {
  color: #09c372;
}

.main p {
  margin-right: 10px;
}

.info-content p {
  padding: 2em;
}

#pct-tomi {
  margin-left: 100px;
}

.download-cv {
  padding: 10px 20px;
  background-color: #09c372;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
}



.download-cv:hover {
  background-color: #fff;
  box-shadow: none;
}

.main img {
  width: 350px;
  height: 450px;
  border: 7px solid #09c372;
}

.about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
  background-color: rgb(79, 99, 84);
}

.about img {
  width: 100%;
  grid-column: 1/5;
}

.about-info {
  grid-column: 5/10;
  padding: 3em;
}

.about-info h2 {
  font-size: 2em;
  color: #191c32;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: #09c372;
  margin-top: 5px;
  margin-bottom: 2.5em;
}

.about p {
  margin-bottom: 1em;
}


body {
  background-color: #353836;
  color: white;
  font-family: "Poppins", sans-serif;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #1d1f1d;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color: #09c372;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}


#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}


.social-networks {
margin: 25px;
padding: 25px;
}

.twitter{
  margin-top: 15px;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }



  .open .mobile-menu{
    display: -webkit-box;
    justify-content: center;
    
  }

  .mobile-menu {
    padding: 0px;
    background-color: #1d1f1d;
    height: 49px;
    font-size: 0.8em;
    justify-content: center;

  }

  .main img {
    display: none;
  }

  .main h1{
    font-size: 2em;
    margin: 15px;
  }

  .main {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./img/fotofachera.jpeg');
    height: 100%;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #hamburger-icon {
    display: block;
  }

  .download-cv{
    margin: 0 auto;
    justify-content: center;
    display: flex;
    text-decoration-line: none;
  }

  .about img{
    display: none;
  }

  .about{
    background: linear-gradient(rgba(202, 200, 200, 0.8), rgba(245, 235, 235, 0.8)), url('./img/aboutme.jpeg');

    color: #191c32;
    
  }

  .about p{
    font-weight: bold;
  }

  .about-info {
    padding: 3em;
    grid-column: none;
  }

  .social-networks h1 {
    padding: 25px;
  }


.title-snet{
  font-size: 2em;
  color: #09c372;
}


}